.main-login-parent {
  /* font-family: "Cabin Sketch", cursive; */
  display: flex;
  justify-content: space-between;
}

.login-form span {
  font-family: "Poiret One", cursive;
  font-size: 4.5rem;

  margin-bottom: 1.5rem;
}

.login-form-panel-main {
  backdrop-filter: blur(5px);
  margin-top: 15vh;
  max-height: 50vh;
  display: flex;
  margin-left: 26vw;
  flex-direction: row;
  border: 2px dashed black;
  padding: 10px;
  border-radius: 10px;
  /* background-color:  */
}

.password-reset-panel p {
  font-weight: bold;
  text-decoration: underline;
  color: red;
  cursor: pointer;
}

.login-form,
.password-reset-panel {
  display: flex;
  flex-direction: column;
  height: 45vh;
  align-items: center;
  width: 30vw;
  max-width: 30rem;
  background-color: transparent;
  justify-content: center;
}

#login-email,
#recovery-email,
#login-password,
#login-password-confirm {
  border: 1px dashed black;
  margin-bottom: 0.5rem;
  height: 1.5rem;
  width: 25vw;
  max-width: 20rem;
  /* border: none; */
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.5);
  outline: none;
  padding: 5px;
  caret-color: red;
}

.login-button,
.reset-password-button {
  width: 26vw;
  max-width: 20.5rem;
  padding: 5px;

  /* font-weight: bold; */
  border-radius: 5px;
  height: 2rem;
  font-size: 1.1rem;
  background-color: black;
  /* font-family: "Poiret One", cursive; */
  color: rgb(253, 217, 53);
  border: none
}



.all-buttons {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  margin-top: 2.5rem;
  font-family: "Poiret One", cursive;
  font-weight: bold;
}

.all-buttons a,
.forgot-button {
  /* font-family: "Poiret One", cursive; */
  font-family: "Poiret One", cursive;
  font-size: 1rem;
  color: red;
  text-decoration: underline;
  font-weight: bold;
  margin-top: 0.5rem;
}

.login-left-panel {
  display: flex;
  flex-direction: row;
}

.gmail-icon {
  border: none;
  height: 6vh;
  width: 6vh;
  background-color: transparent;
}

.new-user {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: bold;
  font-size: 1rem;
  padding-bottom: 0.5rem;
}

.new-user a {
  text-decoration: underline;
  color: red;
}

.gmail-icon img {
  /* height:inherit; */
  height: 5vh;
  width: 5vh;
  cursor: pointer;
}

.forgot-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
