.main-login-parent {
  font-family: "Cabin Sketch", cursive;
  background-color: rgb(253, 217, 53)
  ;
  height: 100vh;
  display: flex;
  width: 100vw;
  justify-content: space-between;
}

.login-form-panel-main {
  margin-top: 20vh;
  max-height: 10vh;
  display: flex;
  margin-left: 21vw;
  flex-direction: row;
  
}

.password-reset-panel p{
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: bold;
  text-decoration: underline;
  color: red;
  cursor: pointer;
}



.login-form, .password-reset-panel {
  display: flex;
  flex-direction: column;
  border: 1px dashed black;
  height: 54.7vh;
  align-items: center;
  justify-content: center;
  width: 25vw;  
  background-color: #ffc634;
}



.login-logo-panel {
  margin-top: 2rem;
  margin-left: 5rem;
  font-size: 2rem;
}



#login-email, #recovery-email,
#login-password {
  margin-bottom: 2rem;
  width: 15vw;
  border: none;
  background-color: rgba(255, 255, 255, 0.7);
  outline: none;
  border-bottom: 1px solid black;
  overflow-y: scroll;
  padding: 5px;
  font-size: 1.2rem;
  font-family: "Barlow Semi Condensed", sans-serif;
}

.login-button, .reset-password-button {
  width: 6vw;
  height: 5vh;
  font-size: 1.1rem;
  margin-right: 2vw;
  background-color: #ffc634;
  border: 1px dashed white;
  
  transition: box-shadow 1s;
  font-family: "Cabin Sketch", cursive;

}

.reset-password-button{
  margin-right: 0;
  margin-bottom: 1vh;
}

.all-buttons{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 4vh;
}

.login-button:hover, .reset-password-button:hover {
  box-shadow: 5px 5px;
}

.login-button:active, .gmail-icon:active, .reset-password-button:active {
  scale: 0.97;
}




.login-left-panel{
  display: flex;
  flex-direction: row;
}

.gmail-icon{
  border: none;
  height: 6vh;
  width: 6vh;
  /* background-color: transparent; */
  border-radius: 50%;
  border: 1px dashed white;
  /* background-color: #ffecd1; */
  background-color: #ffc634;
  /* background-color: #333333; */
  transition: box-shadow 1s;

}

.new-user{
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: bold;
  font-size: 1rem;
  margin-top: 1.5rem;
  border-bottom: 1px solid grey;
  padding-bottom: 0.5rem;

}

.new-user a{
  text-decoration: underline;
  color: red;

}

.gmail-icon:hover{
  box-shadow: 2px 2px;
}



.gmail-icon img{
  /* height:inherit; */
  height: 5vh;
  width: 5vh;

}


.forgot-button{
  background-color: transparent;
  border: none;
  margin-top: 0.7vh;
  cursor: pointer;
  text-decoration: underline;
  color: red;
}