.main-login-parent {
  font-family: "Cabin Sketch", cursive;
  background-color: rgb(253, 217, 53);
  height: 100vh;
  display: flex;
  width: 100vw;
  justify-content: space-between;
}

.login-form span{
  font-family: "Poiret One", cursive;
  font-size: 4.5rem;
  margin-bottom: 6rem;
 
}

.login-form-panel-main {
  margin-top: 15vh;
  max-height: 10vh;
  display: flex;
  margin-left: 26vw;
  flex-direction: row;
}

.password-reset-panel p {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: bold;
  text-decoration: underline;
  color: red;
  cursor: pointer;
}

.login-form,
.password-reset-panel {
  display: flex;
  flex-direction: column;
  height: 45vh;
  align-items: center;
  width: 30vw;
  max-width: 30rem;
  background-color: transparent;
}

.login-logo-panel {
  margin-top: 2rem;
  margin-left: 5rem;
  font-size: 2rem;
  
}

#login-email,
#recovery-email,
#login-password,
#login-password-confirm {
  margin-bottom: 1rem;

  height: 1.5rem;
  width: 25vw;
  max-width: 25rem;
  border: none;
  background: rgba(255, 255, 255, 0.50);
  outline: none;
  padding: 5px;
  caret-color: red;
  
}

.login-button,
.reset-password-button {
width: 26vw;
max-width: 26rem;
padding: 5px;
/* font-weight: bold; */
  height: 2rem;
  font-size: 1.1rem;
  background-color: black;
  font-family: "Poiret One", cursive;
  color:rgb(253, 217, 53);
  border: none;
}

.reset-password-button {
  margin-right: 0;
  margin-bottom: 1vh;
}

.all-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2.5rem;
}

.all-buttons a, .forgot-button{
  font-family: "Poiret One", cursive;
  font-size: 1rem;
  color: red;
  text-decoration: underline;
  font-weight: bold;
}





.login-left-panel {
  display: flex;
  flex-direction: row;
}

.gmail-icon {
  border: none;
  height: 6vh;
  width: 6vh;
background-color: transparent;
}

.new-user {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: bold;
  font-size: 1rem;
  padding-bottom: 0.5rem;
}

.new-user a {
  text-decoration: underline;
  color: red;
}


.gmail-icon img {
  /* height:inherit; */
  height: 5vh;
  width: 5vh;
  cursor: pointer;
}

.forgot-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
