.password-reset-panel span{
    font-family: "Poiret One", cursive;
    font-size: 4.5rem;
    padding-bottom: 2rem;
}

.password-reset-panel p{
    font-family: "Poiret One", cursive;
    padding-top: 2rem;
}