@import url("https://fonts.googleapis.com/css2?family=Monofett&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Poiret+One&display=swap");

* {
  margin: 0;
  padding: 0;
}

.parent-panel {
  display: flex;
  justify-content: space-between;
  
  max-width: 100vw;
  overflow: hidden;
}






.main-panel {
  margin-left: 5rem;
}

.slogan{

  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80vw;

}

.slogan-fixed {
  font-size: 10vmin;
  font-family: "Poiret One", cursive;
  margin-top: 2vh;
  overflow: hidden;
}

.slogan-variable {
  font-size: 10vmin;
  font-family: "Poiret One", cursive;
  color: rgba(225, 255, 225, 1);
}

#slogan-fixed1 {
  margin-bottom: 2vh;
  margin-top: 10.5vmin;
}

