

.logo-parent{
    cursor: pointer;
    margin-top: 5vmin;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    
}
.logo-o{
    font-family: 'Monofett', monospace;
    font-size: 15vmin;
    margin-right: 1.5vw;

}
.logo-rest{
    font-family: 'Monofett', monospace;
    font-size: 10vmin;

}

