.nav-parent{
  /* height: 100vh; */
  /* border-left: 1px dashed black; */
  background-color: transparent;
  display: flex;
  flex-direction: column;
  
  
}


a{
  text-decoration: none;
  font-family: 'Monofett', monospace;
  font-size: 2.5rem;
  color: black;
  margin-left: 1rem;
  margin-right: 1rem;
  display: flex;
  
}

.upper-links{
  display: flex;
  flex-direction: column;
  margin-bottom: 1vh;
 
}

.logout-icon{
  height: 2.2rem;

  
}

.logout-button{
  background-color: transparent;
  border: none;
  /* margin-top: 1.5rem; */
  cursor: pointer;
  display: flex;
  padding-top: 3px;


}

@media (max-width: 600px) {
  .nav-parent{
    border: none;
    flex-direction: row;
    
  }
  .upper-links{
    border-top: 2px dashed black;
    flex-direction: row;
    width: 100vw;
    align-items: center;
    justify-content: space-around;
    margin-left: 3rem;
    margin-right: 3rem;
    padding-top: 0.5rem;
  }

  a{
    margin-left: 0;
    margin-right: 0;
  }
}


@media not (max-width: 600px) {
 
  
  .logout-button{
    display: flex;
    justify-content: center;
    padding-left: 6px;
    margin-top: 6px;
    margin-bottom: 0.5rem;
  }
  .nav-parent{
    justify-content: center;

  }
  .upper-links{
    border-left: 2px dashed black;
   
  }
  
}