.nav-parent{
  height: 100vh;
  border-left: 1px dashed black;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

a{
  text-decoration: none;
  font-family: 'Monofett', monospace;
  font-size: 2.5rem;
  color: black;
  margin-left: 1rem;
  margin-right: 1rem;
  
}

.upper-links{
  display: flex;
  flex-direction: column;
  margin-bottom: 2vh;
}

.logout-icon{
  height: 2.3rem;
  
}

.logout-button{
  background-color: transparent;
  border: none;
  margin-top: 1.5rem;
  cursor: pointer;
}
.logout-button-div{
  display: flex;
  justify-content: center;
}